.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 1rem;
}